.dashboard-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

.dashboard-add-card {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
  background-color: #38444d;
  border-radius: 0.3em;
}

.dashboard-add-card div {
  padding: 5px;
}

.dashboard-add-card label {
  padding: 5px;
}

.dashboard-csv {
  margin: 20px auto;
  border-radius: 0.3em;
  padding: 10px;
  background-color: #38444d;
}

.dashboard-csv p {
  margin: 5px;
}
